.show-hide-password-button{
  display: block;
  width: 53px;
  height: 53px;
  text-align: left;
  line-height: 53px;
  cursor: pointer;
  }
  .show-hide-password-button:hover{
    color: #a4c8d0;
    }
  .show-hide-password-button:after{
    content: '\e820';
    position: relative;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
   
    font-variant: normal;
    text-transform: none;
       
    line-height: inherit;
    }
  .show-hide-password-button.visible:after{
    content: '\e821';
    }
